[{{ app_service_name }}]
user = {{ app_user }}
group = {{ app_group }}

listen = /run/php/{{ app_service_name }}.sock
listen.owner = www-data
listen.group = www-data
listen.mode = 0660

pm = dynamic
pm.max_children = {{ php_fpm_max_children }}
pm.start_servers = 2
pm.min_spare_servers = 1
pm.max_spare_servers = 3

clear_env = yes
security.limit_extensions = .php
